<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.book.app.rent.RentMapper">
	
	<select id="myRentList" parameterType="RentDTO" resultMap="RentDetailResult">
	    SELECT R.*, B.*
	    FROM "TB_BOOKRENT" R
	    JOIN "TB_BOOK" B ON R."BOOK_NUM" = B."BOOK_NUM"
	    WHERE R."USERNAME" = #{username}
	    AND R."RETURN_DATE" IS NULL
	</select>
	
	<resultMap type="RentDTO" id="RentDetailResult">
	    <id column="RENT_NUM" property="rentNum"/>
	    <result column="RENT_DATE" property="rentDate"/>
	    <result column="DUE_DATE" property="dueDate"/>
	    <result column="BOOK_NUM" property="bookNum"/>
	    <result column="USERNAME" property="username"/>
	    <association property="bookDTO" javaType="BookDTO">
	        <result column="BOOK_TITLE" property="bookTitle"/>
	        <result column="BOOK_IMAGE" property="bookImage"/>
	        <result column="BOOK_AUTHOR" property="bookAuthor"/>
	        <result column="BOOK_PUBLISHER" property="bookPublisher"/>
	        <result column="BOOK_DATE" property="bookDate"/>
	        <result column="BOOK_STATUS" property="bookStatus"/>
	    </association>
	</resultMap>
	
	<select id="countMyRent" parameterType="RentDTO" resultType="Long">
	    SELECT COUNT(*) FROM "TB_BOOKRENT" 
	    WHERE "USERNAME" = #{username}
	    AND "RETURN_DATE" IS NULL
	</select>
	
	<update id="myRentDelete" parameterType="RentDTO">
		UPDATE "TB_BOOKRENT"
		SET "RETURN_DATE" = CURRENT_TIMESTAMP
		WHERE "USERNAME" = #{username}
		AND "BOOK_NUM" = #{bookNum}
		AND "RETURN_DATE" IS NULL
	</update>
	
	<select id="rentHistory" parameterType="RentDTO" resultType="Long">
		SELECT COUNT(*) FROM "TB_BOOKRENT"
		WHERE "USERNAME" = #{username}
		AND "BOOK_NUM" = #{bookNum}
	</select>
	
	<insert id="create" parameterType="RentDTO">
        INSERT INTO "TB_BOOKRENT" (
            "RENT_NUM", 
            "RENT_DATE", 
            "DUE_DATE", 
            "BOOK_NUM", 
            "USERNAME"
        ) VALUES (
            DEFAULT,
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP + INTERVAL '10 days',
            #{bookNum},
            #{username}
        )
    </insert>
    
    <select id="lateRent" parameterType="RentDTO" resultMap="RentDetailResult">
    	SELECT R.*, B."BOOK_TITLE"
    	FROM "TB_BOOKRENT" R
    	LEFTJOIN "TB_BOOK" B
    		USING ("BOOK_NUM")
    	WHERE R."USERNAME" = #{username}
    	AND R."RETURN_DATE" IS NULL
    	AND R."DUE_DATE" <![CDATA[<]]> CURRENT_TIMESTAMP
    </select>

</mapper>