<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.book.app.member.MemberMapper">
	<select id="detail" parameterType="MemberDTO" resultMap="detailResult">
		SELECT * 
		FROM "TB_MEMBER" M
			LEFT JOIN "TB_PROFILE" F
			USING("MEMBER_NUM")
		<where>
        <if test="memberNum != null and memberNum != 0">
            AND "MEMBER_NUM" = #{memberNum}
        </if>
        <if test="username != null and username != ''">
            AND "USERNAME" = #{username}
        </if>
    </where>
	</select>
	
	<insert id="create" parameterType="MemberDTO" useGeneratedKeys="true" keyProperty="memberNum">
		INSERT INTO "TB_MEMBER"
		VALUES (default, #{username}, #{password}, #{memberName}, #{memberBirth}, #{memberEmail})
	</insert>

	<insert id="addProfile" parameterType="ProfileDTO">
		INSERT INTO "TB_PROFILE"
		VALUES (default, #{fileName}, #{oriName}, #{memberNum})
	</insert>
		
	<delete id="deleteProfile" parameterType="ProfileDTO">
		DELETE FROM "TB_PROFILE"
		WHERE "MEMBER_NUM" = #{memberNum}
	</delete>
	
	<delete id="deleteId" parameterType="MemberDTO">
		DELETE FROM "TB_MEMBER"
		WHERE "MEMBER_NUM" = #{memberNum}
	</delete>
	
	<resultMap type="MemberDTO" id="detailResult">
		<id column="MEMBER_NUM" property="memberNum"/>
		<result column="USERNAME" property="username"/>
		<result column="PASSWORD" property="password"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="MEMBER_BIRTH" property="memberBirth"/>
		<result column="MEMBER_EMAIL" property="memberEmail"/>
		<association property="profileDTO" javaType="com.book.app.member.ProfileDTO">
			<id column="MEMBER_NUM" property="memberNum"/>
			<result column="FILE_NAME" property="fileName"/>
			<result column="ORI_NAME" property="oriName"/>
		</association>
	</resultMap>

</mapper>