<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.book.app.member.MemberMapper">
	<select id="detail" parameterType="MemberDTO">
		SELECT * FROM "TB_MEMBER"
		WHERE "USERNAME"=#{username}
	</select>
	
	<insert id="create" parameterType="MemberDTO" >
		INSERT INTO "TB_MEMBER"
		VALUES (default, #{username}, #{password}, #{memberName}, #{memberBirth}, #{memberEmail})
	</insert>

	<insert id="addPorfile" parameterType="ProfileDTO">
		INSERT INTO "TB_PROFILE"
		VALUES (default, #{profileName}, #{profileOriname}, #{memberNum})
	</insert>


</mapper>